@using UsefulWebApps.Models.MyRecipes
@{
    ViewData["Title"] = "My Recipes";
}

@model UsefulWebApps.Models.ViewModels.MyRecipes.RecipeIndexVM

<div class="text-center max-width-550 mx-auto">
    <h1 class="display-3 mt-3">Recipes</h1>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <p>To make a new recipe click <a asp-controller="MyRecipes" asp-action="CreateRecipe">here</a></p>
        <p>To view your saved recipes click <a asp-controller="MyRecipes" asp-action="SavedRecipes">here</a></p>
    }
    
    <h4>Search: Title and Ingredients</h4>
    <form asp-controller="MyRecipes" asp-action="Index" id="search-form">
        <div class="input-group mb-3">  
            <input type="text" class="form-control" id="search-input" name="SearchString" asp-for="@Model.SearchString" />
            <input class="btn btn-outline-dark" type="submit" value="Search" />
            <input class="btn btn-outline-secondary" type="button" value="Clear" onclick="clearSearch()" />
        </div>
    </form>
    <div class="list-group">
        @foreach (Recipe recipe in Model.Recipes)
        {
            <a asp-controller="MyRecipes" asp-action="Recipe" asp-route-id="@recipe.RecipeId" class="list-group-item list-group-item-action">@recipe.RecipeTitle</a>
        }
    </div>
    <div class="mt-4">
        <total-recipes total-recipes="@Model.TotalRecipes"></total-recipes>
    </div>
    <div class="mt-4 max-width-300 mx-auto">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm justify-content-center">
                @if(Model.TotalPages < 8)
                {
                    <li class="page-item"><a class="page-link" asp-controller="MyRecipes" asp-action="Index" asp-route-searchString="@Model.SearchString" asp-route-page="@(Model.CurrentPage - 1 == 0 ? 1 : Model.CurrentPage - 1)">Previous</a></li>
                    <li class="page-item"><a class="page-link" asp-controller="MyRecipes" asp-action="Index" asp-route-searchString="@Model.SearchString" asp-route-page="@(Model.CurrentPage + 1 < Model.TotalPages ? Model.CurrentPage + 1 : Model.TotalPages)">Next</a></li>
                }
                else if(Model.TotalPages >= 8)
                {
                    <!--display 1st 3 and last 3 pages if more than 8 pages total-->
                    <li class="page-item"><a class="page-link" asp-controller="MyRecipes" asp-action="Index" asp-route-searchString="@Model.SearchString" asp-route-page="@(Model.CurrentPage - 1 == 0 ? 1 : Model.CurrentPage - 1)">&laquo;</a></li>
                    @for (int i = 1; i <= @Model.TotalPages; i++)
                    {
                        if (i <= 3)
                        {
                            <li class="page-item"><a class="page-link" asp-controller="MyRecipes" asp-action="Index" asp-route-searchString="@Model.SearchString" asp-route-page="@i">@i</a></li>
                        }
                        else if (i == 4)
                        {
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        }
                        else if (i > Model.TotalPages - 3)
                        {
                            <li class="page-item"><a class="page-link" asp-controller="MyRecipes" asp-action="Index" asp-route-searchString="@Model.SearchString" asp-route-page="@i">@i</a></li>
                        }
                    }
                    <li class="page-item"><a class="page-link" asp-controller="MyRecipes" asp-action="Index" asp-route-searchString="@Model.SearchString" asp-route-page="@(Model.CurrentPage + 1 < Model.TotalPages ? Model.CurrentPage + 1 : Model.TotalPages)">&raquo;</a></li>
                }
            </ul>
        </nav>
    </div>
</div>

<!--scripts-->
@section Scripts {
    <script type="text/javascript">
        function clearSearch() {
            $("#search-input").val("");
            $("#search-form").submit();
        }
    </script>
}

