@using UsefulWebApps.Models.MyRecipes
@{
    ViewData["Title"] = "My Recipes";
}

@model UsefulWebApps.Models.MyRecipes.Recipe

<div class="list-buddy-index-container mx-auto">
    <h1 class="display-4">@Model.RecipeTitle</h1>
    <p>@Model.RecipeDescription</p>
    <p>Author: @Model.UserName</p>
    <p>Coures: @Model.Course.Course</p>
    <p>Cuisine: @Model.Cuisine.Cuisine</p>
    <p>Difficulty: @Model.Difficulty.Difficulty</p>
    <p>Prep Time: @Model.PrepTime</p>
    <p>Cook Time: @Model.CookTime</p>
    <p>Rating: @Model.Rating</p>
    <p>Servings: @Model.Servings</p>
    <section>
        <h2 class="display-6">Categories/Tags</h2>
        <ul class="list-group">
            @foreach (RecipeCategories category in Model.Categories)
            {
                <li class="list-group-item">@category.Category</li>
            }
        </ul>
    </section>
    <h2 class="display-6">Ingredients</h2>
    <ingredients html-ingredients-content="@Model.Ingredients"></ingredients>
    <h2 class="display-6">Instructions</h2>
    <instructions html-instructions-content="@Model.Instructions"></instructions>
    <h2 class="display-6">Notes</h2>
    <notes html-notes-content="@Model.Notes"></notes>
    <h2 class="display-6">Nutrition</h2>
    <nutrition html-nutrition-content="@Model.Nutrition"></nutrition>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <a asp-controller="MyRecipes" asp-action="EditRecipe" asp-route-id="@Model.RecipeId">Edit Recipe</a>
        <a asp-controller="MyRecipes" asp-action="DeleteRecipe" asp-route-id="@Model.RecipeId">Delete Recipe</a>
    }
</div>

