@using UsefulWebApps.Models.MyRecipes
@{
    ViewData["Title"] = "Recipe";
}

@model UsefulWebApps.Models.ViewModels.MyRecipes.RecipePageVM

<div class="max-width-700 mx-auto container pb-3">
    <h1 class="mt-3 text-center">@Model.Recipe.RecipeTitle</h1>
    @if(Model.Recipe.RecipeDescription != "")
    {
        <div class="row">
            <div class="col-12">
                <p>@Model.Recipe.RecipeDescription</p>
            </div>
        </div>
    }
    @if(Model.Recipe.ImagePath != "")
    {
        <div class="mb-3">
            <img src="/@Model.Recipe.ImagePath" class="img-fluid rounded mx-auto d-block recipe-image" />
        </div>
    }
    <div class="row">
        <div class="col-12">
            <p><strong>Author:</strong> @Model.Recipe.UserName</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p><strong>Coures:</strong> @Model.Recipe.Course.Course</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p><strong>Cuisine:</strong> @Model.Recipe.Cuisine.Cuisine</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p><strong>Prep Time:</strong> @Model.Recipe.PrepTime</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p><strong>Cook Time:</strong> @Model.Recipe.CookTime</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p><strong>Servings:</strong> @Model.Recipe.Servings</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p><strong>Rating:</strong> @Model.Recipe.Rating</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><strong>Difficulty:</strong> @Model.Recipe.Difficulty.Difficulty</p>
        </div>
    </div>
    <section class="mb-3 max-width-300">
        <h3 class="">Categories/Tags</h3>
        <ul class="list-group">
            @foreach (RecipeCategories category in Model.Recipe.Categories)
            {
                <li class="list-group-item active">@category.Category</li>
            }
        </ul>
    </section>
    <div class="mb-3">
        <h3>Ingredients</h3>
        @* https://stackoverflow.com/questions/498461/how-to-save-user-entered-line-breaks-from-a-textarea-to-a-database *@
        <ingredients html-ingredients-content="@Model.Recipe.Ingredients" style="white-space: pre-line"></ingredients>
    </div>
    <div class="mb-3">
        <h3>Instructions</h3>
        <instructions html-instructions-content="@Model.Recipe.Instructions" style="white-space: pre-line"></instructions>
    </div>
    
    @if(Model.Recipe.Notes != "")
    {
        <div class="mb-3">
            <h3>Notes</h3>
            <notes html-notes-content="@Model.Recipe.Notes" style="white-space: pre-line"></notes>
        </div>
    }
    @if(Model.Recipe.Nutrition != "")
    {
        <div class="mb-3">
            <h3>Nutrition</h3>
            <nutrition html-nutrition-content="@Model.Recipe.Nutrition" style="white-space: pre-line"></nutrition>
        </div>
    }
    
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 max-width-250 mx-auto">
                <form method="post" asp-route="userSavedRecipe" id="userSavedRecipeForm">
                    <div>
                        <input type="hidden" asp-for="RecipeUserSaved.UserName" />
                        <input type="hidden" asp-for="RecipeUserSaved.UserId" />
                        <input type="hidden" asp-for="RecipeUserSaved.RecipeId" value="@Model.Recipe.RecipeId" />
                        <input type="hidden" asp-for="RecipeUserSaved.RecipeTitle" value="@Model.Recipe.RecipeTitle" />
                    </div>
                    <div>
                        <button class="btn btn-primary mb-3 w-100" type="submit">Save Recipe To My List</button>
                    </div>
                </form>
                <div>
                    <a asp-controller="MyRecipes" asp-action="Index" class="btn btn-outline-dark mb-3 w-100">Back To Recipe List</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 max-width-250 mx-auto">
                <div>
                    <a class="btn btn-primary mb-3 w-100" asp-controller="MyRecipes" asp-action="EditRecipe" asp-route-id="@Model.Recipe.RecipeId">Edit Recipe</a>
                </div>
                <div>
                    <a class="btn btn-outline-dark mb-3 w-100" asp-controller="MyRecipes" asp-action="DeleteRecipe" asp-route-id="@Model.Recipe.RecipeId">Delete Recipe</a>
                </div>
            </div>
        </div>
        <div class="max-width-450 mx-auto">
            <section class="mb-3">
                @if (Model.RecipeComments.Count > 0)
                {
                    <h3>Comments</h3>
                }
                else
                {
                    <h3>Be the first to post a comment.</h3>
                }
                @foreach (RecipeComment comment in Model.RecipeComments)
                { 
                    <div class="card text-white bg-info mb-3 max-width-550">
                        <div class="card-header">@comment.UserName</div>
                        <div class="card-body">
                            @* <span class="card-title">Add comment date here</span> *@
                            <p class="card-text">@comment.Comment</p>
                        </div>
                    </div>
                }
            </section>
            <form method="post" asp-route="postComment" id="postCommentForm">
                <div class="form-floating">
                    <input type="hidden" asp-for="RecipeComment.UserName" />
                    <input type="hidden" asp-for="RecipeComment.UserId" />
                    <input type="hidden" asp-for="RecipeComment.RecipeId" value="@Model.Recipe.RecipeId" />
                    <textarea asp-for="RecipeComment.Comment" class="form-control textarea-input ignore"></textarea>
                    <label asp-for="RecipeComment.Comment">Recipe Comment</label>
                </div>
                <div class="mt-2">
                    <span asp-validation-for="RecipeComment.Comment" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <div>
                        <button class="btn btn-outline-dark mb-3 mt-3" type="submit">Post Comment</button>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="text-center">
            <div>
                <a asp-controller="MyRecipes" asp-action="Index" class="btn btn-outline-dark mb-3 mt-3">Back To Recipe List</a>
            </div>
        </div>
        <section class="max-width-450 mx-auto">
            @if (Model.RecipeComments.Count > 0)
            {
                <h3>Comments</h3>
            }
            @foreach (RecipeComment comment in Model.RecipeComments)
            {
                <div class="card text-white bg-info mb-3 max-width-550">
                    <div class="card-header">@comment.UserName</div>
                    <div class="card-body">
                        @* <span class="card-title">Add comment date here</span> *@
                        <p class="card-text">@comment.Comment</p>
                    </div>
                </div>
            }
        </section>
    }
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

