@using UsefulWebApps.Models.MyRecipes
@{
    ViewData["Title"] = "My Recipes";
}

@model UsefulWebApps.Models.ViewModels.MyRecipes.RecipeCommentsVM

<div class="list-buddy-index-container mx-auto">
    <h1 class="display-4">@Model.Recipe.RecipeTitle</h1>
    <p>@Model.Recipe.RecipeDescription</p>
    <p>Author: @Model.Recipe.UserName</p>
    <p>Coures: @Model.Recipe.Course.Course</p>
    <p>Cuisine: @Model.Recipe.Cuisine.Cuisine</p>
    <p>Difficulty: @Model.Recipe.Difficulty.Difficulty</p>
    <p>Prep Time: @Model.Recipe.PrepTime</p>
    <p>Cook Time: @Model.Recipe.CookTime</p>
    <p>Rating: @Model.Recipe.Rating</p>
    <p>Servings: @Model.Recipe.Servings</p>
    <section>
        <h2 class="display-6">Categories/Tags</h2>
        <ul class="list-group">
            @foreach (RecipeCategories category in Model.Recipe.Categories)
            {
                <li class="list-group-item">@category.Category</li>
            }
        </ul>
    </section>
    <h2 class="display-6">Ingredients</h2>
    <ingredients html-ingredients-content="@Model.Recipe.Ingredients"></ingredients>
    <h2 class="display-6">Instructions</h2>
    <instructions html-instructions-content="@Model.Recipe.Instructions"></instructions>
    <h2 class="display-6">Notes</h2>
    <notes html-notes-content="@Model.Recipe.Notes"></notes>
    <h2 class="display-6">Nutrition</h2>
    <nutrition html-nutrition-content="@Model.Recipe.Nutrition"></nutrition>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <a asp-controller="MyRecipes" asp-action="EditRecipe" asp-route-id="@Model.Recipe.RecipeId">Edit Recipe</a>
        <a asp-controller="MyRecipes" asp-action="DeleteRecipe" asp-route-id="@Model.Recipe.RecipeId">Delete Recipe</a>
    }
    @if(Model.RecipeComments.Count > 0)
    {
        <section>
            <h2 class="display-6">Comments</h2>
            <ul class="list-group">
                @foreach (RecipeComment comment in Model.RecipeComments)
                {
                    <li class="list-group-item">@comment.Comment</li>
                }
            </ul>
        </section>
    }
    <form>
        <div class="form-floating">
            <textarea asp-for="RecipeComment.Comment" class="form-control textarea-input ignore"></textarea>
            <label asp-for="RecipeComment.Comment">Recipe Notes</label>
        </div>
    </form>
   
    
</div>

