@using UsefulWebApps.Models.ListBuddy
@foreach (List<GroceryList> listOfGroceryLists in Model.FilteredGroceryListItems)
{
    <section>
        <h2 class="display-6">@listOfGroceryLists[0].Category</h2>
        <ul class="list-group">
            @foreach (GroceryList grocerylist in listOfGroceryLists)
            {
                <li class="list-group-item list-group-item-action active">
                    <span class="fw-bold grocery-list-item @(grocerylist.Complete == true ? "line-through" : "")">@grocerylist.GroceryItem</span>
                    <div>
                        <div class="grocery-list-mark-complete">
                            <button type="button" class="btn btn-dark btn-sm" onclick="toggleComplete(@grocerylist.Id, `@grocerylist.UserId`);">Complete</button>
                        </div>
                        <div class="grocery-list-edit">
                            <a asp-controller="ListBuddy" asp-action="GroceryListEdit" asp-route-id="@grocerylist.Id" class="btn btn-dark btn-sm">Edit</a>
                        </div>
                        <form method="post" asp-route="deleteGroceryItem" class="grocery-list-delete-item">
                            <input asp-for="@grocerylist.Id" name="id" hidden />
                            <button type="submit" class="btn btn-sm @(grocerylist.Complete == true ? "btn-outline-danger" : "btn-danger")">Delete</button>
                        </form>
                    </div>
                </li>
            }
        </ul>
    </section>

}