@using UsefulWebApps.Models.ListBuddy
@{
    ViewData["Title"] = "List Buddy";
}

@model UsefulWebApps.Models.ViewModels.ListBuddy.GroceryListVM

<div class="text-center grocery-list-container mx-auto">
    <h1 class="display-4">Grocery List</h1>

    @foreach (List<GroceryList> listOfGroceryLists in Model.FilteredGroceryListItems)
    {
        <section>
            <h2 class="display-6">@listOfGroceryLists[0].Category</h2>
            <ul class="list-group">
                @foreach (GroceryList grocerylist in listOfGroceryLists)
                {
                    <li class="list-group-item">
                        <span class="fw-bold grocery-list-item @(grocerylist.Complete == true ? "line-through" : "")">@grocerylist.GroceryItem</span>
                        <div>
                            <form method="post" asp-route="toggleGroceryComplete" class="grocery-list-mark-complete">
                                <input asp-for="@grocerylist.Id" name="id" hidden />
                                <button type="submit" class="btn btn-success">Complete</button>
                            </form>
                            <div class="grocery-list-edit">
                                <a asp-controller="ListBuddy" asp-action="GroceryListEdit" asp-route-id="@grocerylist.Id" class="btn btn-primary">Edit</a>
                            </div>
                            <form method="post" asp-route="deleteGroceryItem" class="grocery-list-delete-item" id="delete-grocery-item">
                                <input asp-for="@grocerylist.Id" name="id" hidden />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </section>
        
    }
    
    <form method="post" asp-route="createGroceryItem" class="add-grocery-item">
        <div class="input-group mb-3 mt-3">
            <!--Complete default value is False-->
            <input asp-for="GroceryList.Complete" hidden />
            <input asp-for="GroceryList.GroceryItem" type="text" class="form-control" placeholder="new item" minlength="3" maxlength="100" />
        </div>
        <div>
            <select class="form-select" asp-for="Category" asp-items="Model.GroceryCategoriesList">
                <option selected value="Please Select a Category">Please Select a Category</option>
            </select>
        </div>
        <div class="mt-2">
            <button class="btn btn-primary" type="submit">Add Item</button>
        </div>
        <div class="mb-2 mt-2">
            <span asp-validation-for="GroceryList.GroceryItem" class="text-danger"></span>
        </div>
    </form>

    <form method="post" asp-route="deleteAllGroceryList" class="delete-all-grocery-item mx-auto" id="delete-all-grocery-list">
        <div>
            <button type="submit" class="btn btn-danger mb-2 w-100">Delete All</button>
        </div>
        <div>
            <a asp-controller="ListBuddy" asp-action="Index" class="btn btn-primary w-100">List Buddy Home</a>
        </div>
    </form>

</div>
<!--Partial View scripts-->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script type="text/javascript">
        $("#delete-all-grocery-list").validate({
            submitHandler: function (form) {
                //ask to confirm delete
                toastConfirm().then(deleteConfirm => {
                    if (deleteConfirm == true) {
                        form.submit();
                    }
                    else {
                        toastr.success("Item has NOT been deleted");
                    }
                });
            }
        });
        $("#delete-grocery-item").validate({
            submitHandler: function (form) {
                //ask to confirm delete
                toastConfirm().then(deleteConfirm => {
                    if (deleteConfirm == true) {
                        form.submit();
                    }
                    else {
                        toastr.success("Item has NOT been deleted");
                    }
                });
            }
        });
    </script>
}
