@{
    ViewData["Title"] = "Note";
}
@model UsefulWebApps.Models.ListBuddy.Notes

<div class="max-width-550 mx-auto">
    <h1 class="display-3 mt-3 text-center">@Model.NoteTitle</h1>
    <div class="card text-white bg-info mb-3">
         <div class="card-header">@Model.NoteTitle</div>
         <div class="card-body">
            @* https://stackoverflow.com/questions/498461/how-to-save-user-entered-line-breaks-from-a-textarea-to-a-database *@
            <notes html-notes-content="@Model.Note" class="card-text" style="white-space: pre-line"></notes>
         </div>
    </div>
    <div class="max-width-350 mx-auto">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a asp-controller="ListBuddy" asp-action="MyNotes" class="btn btn-outline-dark w-100 mb-3">My Notes</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a asp-controller="ListBuddy" asp-action="EditNote" asp-route-id="@Model.Id" class="btn btn-outline-dark w-100 mb-3">Edit Note</a>
            </div>
        </div>
        <form method="post" asp-action="DeleteNote" id="delete-note" class="max-width-175 mx-auto">
            <div>
                <input type="hidden" asp-for="@Model.Id" />
                <button type="submit" class="btn btn-danger mb-3 w-100">Delete Note</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script type="text/javascript">
        $("#delete-note").validate({
            submitHandler: function (form) {
                //ask to confirm delete
                toastConfirm().then(deleteConfirm => {
                    if (deleteConfirm == true) {
                        form.submit();
                    }
                    else {
                        toastr.success("Note has NOT been deleted");
                    }
                });
            }
        });
    </script>
}
