@{

    ViewData["Title"] = "Custom Home Page";
}

@model UsefulWebApps.Models.ViewModels.MyHomePage.MyHomePageVM
<div class="container-fluid pb-3">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 pt-3">
            @if (Model.SlideShowImagesToDisplay.Count > 0)
            {
                <div id="carouselFade" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.SlideShowImagesToDisplay.Count; i++)
                        {
                            if (i == 0)
                            {
                                <div class="carousel-item active" data-bs-interval="5000">
                                    <img src="~/images/customhomepage/@Model.SlideShowImagesToDisplay.ElementAt(i).ImagePath" class="d-block w-100">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="~/images/customhomepage/@Model.SlideShowImagesToDisplay.ElementAt(i).ImagePath" class="d-block w-100">
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }
            else
            {
                <div id="carouselFade" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.DefaultSlideShowImagesToDisplay.Count; i++)
                        {
                            if (i == 0)
                            {
                                <div class="carousel-item active" data-bs-interval="5000">
                                    <img src="~/images/customhomepage/space/@Model.DefaultSlideShowImagesToDisplay.ElementAt(i)" class="d-block w-100">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="~/images/customhomepage/space/@Model.DefaultSlideShowImagesToDisplay.ElementAt(i)" class="d-block w-100">
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }
            <div class="max-width-200 mx-auto pt-3">
                <div>
                    <a asp-controller="MyHomePage" asp-action="SelectSlideShow" class="btn btn-outline-dark w-100">Change Slide Show</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 pt-3">
            <div class="d-flex justify-content-end pb-3">
                <div class="date-time">
                    <div id="time" class="date-time"></div>
                    <div id="date" class="date-time"></div>
                </div>
            </div>
            <div id="shortcuts-desktop" class="shortcuts d-flex justify-content-end">
                @{
                    var chunks = Model.QuickLinksToDisplay.Chunk(4);

                    for (int i = 0; i < chunks.Count(); i++)
                    {
                        <div class="shortcuts__@i">
                            <ul>
                                @{
                                    var chunk = chunks.ElementAt(i);
                                    foreach (var shortCut in chunk)
                                    {

                                        <li>
                                            <a href="@shortCut.URL" target="_blank" rel="noopener noreferrer">
                                                <img src="~/@shortCut.ImagePath" class="logo" alt="@shortCut.Name" />
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
            <div id="shortcuts-mobile" class="shortcuts d-flex justify-content-center text-center">
                <div class="shortcuts__0">
                    <ul>
                        @{
                            foreach (var shortCuts in Model.QuickLinksToDisplay)
                            {
                                <li>
                                    <a href="@shortCuts.URL" target="_blank" rel="noopener noreferrer">
                                        @shortCuts.Name
                                    </a>
                                </li>
                            }
                        }
                            
                    </ul>
                </div>                
            </div>
            <div id="shortcuts-btn-container" class="max-width-250 mx-auto pb-3">
                <div>
                    <a asp-controller="MyHomePage" asp-action="SelectQuickLinks" class="btn btn-outline-dark w-100">Select/Change Quick Links</a>
                </div>
            </div>
            <div>
                <h3 class="text-center">Quote of the day</h3>
                <p>
                    @Model.RandomQuote.Quote<br/><br/>
                    @Model.RandomQuote.Author
                </p>
                <div class="max-width-200 mx-auto pt-3">
                    <div>
                        <a asp-controller="MyHomePage" asp-action="CreateQuote" class="btn btn-outline-dark w-100">Add a Quote</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/MyHomePage.js"></script>
}
